<div class=“container”>
  <h6>Please confirm your rental period:</h6>

  <%= simple_form_for [@apparel, @rental]  do |f| %>
    <%= f.input :start_date, html5: true, input_html: { data: { rental_price_target: 'startDate', action: 'change->rental-price#update' } }%>
    <%= f.input :end_date, html5: true, input_html: { data: { rental_price_target: 'endDate', action: 'change->rental-price#update' } } %>
    <div class="d-flex justify-content-center my-2">
      <div>
        <%= link_to "Go back", apparels_path, class: "btn btn-info mx-3"%>
      </div>
      <div>
        <%= f.submit "Rent now", class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>
