<div class=“container”>
  <h1>Please confirm your order details:</h1>
  <%= simple_form_for [@apparel, @rental]  do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :size, :collection => %w[XXS XS S M L XL XXL] %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit “Submit”, link_to apparel_rentals(@apparel), class: “btn btn-primary” %>
  <% end %>
  <div>
