<div class="col-4">
  <div class="card-product <%=rental.status%>">
    <%= cl_image_tag rental.apparel.photo.key, class: 'img' if rental.apparel.photo.key? %>
    <div class="card-product-infos">
      <h2><%= link_to rental.apparel.name.capitalize, apparel_path(rental.apparel), class: 'text-decoration-none' %></h2>
      <p><i class="fa-solid fa-sack-dollar fa-sm">:  <strong>$<%= sprintf('%.2f', ((rental.apparel.price * 0.9) * (rental.end_date - rental.start_date)))%></strong></i></p>
      <p><i class="fa-solid fa-shirt fa-sm">:  <strong><%= rental.apparel.size.upcase %></strong></i></p>
      <%# <div class="d-flex justify-content-between"> %>
      <p><i class="fa-solid fa-hourglass-start fa-sm">:  <strong><%= rental.start_date %></strong></i></p>
      <p><i class="fa-solid fa-hourglass-end fa-sm">:  <strong><%= rental.end_date %></strong></i></p>
      <div class="mt-3">
        <p><i class="fa-solid fa-truck-fast fa-lg"><strong>:  <%= @requester.username.upcase %></strong></i></p>
      </div>
      <% if rental.status == "accepted" %>
        <%= simple_form_for rental do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'delivered'} %>
          <%= f.submit 'Delivered?', class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <!-- Display Status-->
        <p class='booking-tag'><%= rental.status.upcase %></p>
      <% end %>
      <%# </div> %>
    </div>
  </div>
</div>
