<div class="col-4">
  <div class="card-product">
    <%= cl_image_tag rental.apparel.photo.key, class: 'img' if rental.apparel.photo.key? %>
    <div class="card-product-infos">
      <%= link_to rental.apparel.name.capitalize, apparel_path(rental.apparel), class: 'text-decoration-none' %>
      <p>Price: <strong>$<%= sprintf('%.2f', ((rental.apparel.price * 0.9) * (rental.end_date - rental.start_date)))%></strong></p>
      <p>Size: <strong><%= rental.apparel.size.upcase %></strong></p>
      <%# <div class="d-flex justify-content-between"> %>
      <p>Rental Start: <strong><%= rental.start_date %></strong></p>
      <p>Rental End: <strong><%= rental.end_date %></strong></p>
      <div class="mt-3 <%=rental.status%>">
        <h6><strong><%= rental.status.nil? ? "TO" : "#{rental.status.upcase} BY" %>: <%= @requester.username.upcase %></strong></h6>
      </div>
      <%# </div> %>
    </div>
  </div>
</div>
