<div class="col-4">
  <div class="card-product">
    <%= cl_image_tag rental.apparel.photo.key, class: 'img' if rental.apparel.photo.key? %>
    <div class="card-product-infos">
      <%= link_to rental.apparel.name.capitalize, apparel_path(rental.apparel), class: 'text-decoration-none' %>
      <p>Price: <strong>$<%= sprintf('%.2f', (rental.apparel.price * 2.45))%></strong></p>
      <p>Size: <strong><%= rental.apparel.size.upcase %></strong></p>
      <%# <div class="d-flex justify-content-between"> %>
      <p>Rental Start: <strong><%= rental.start_date %></strong></p>
      <p>Rental End: <strong><%= rental.end_date %></strong></p>
      <h4>FROM: <strong><%= User.find(rental.user_id).username.upcase %></strong></h4>
      <% rental.status =  params[:status] if  params[:status].present? %>
      <div class="<%=rental.status%>">
        <h4>STATUS: <strong><%= rental.status.nil? ? "REQUESTED" : rental.status.upcase %></strong></h4>
      </div>
      <%= link_to 'Respond', edit_rental_path(rental) %>
      <%# </div> %>
    </div>
  </div>
</div>
