<div class="landing w-100 h-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(<%= asset_path('landing_page6.jpg') %>);">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-5 shadow">
          <h2>Create New Listing</h2>
          <%= simple_form_for @apparel do |f| %>
            <%= f.input :name, placeholder: 'Dress' %>
            <%= f.input :size,
                        as: :radio_buttons,
                        collection: Apparel::SIZES.map {|size| [size.upcase, size] },
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: "category-wrapper d-flex justify-content-between" ,
                        item_wrapper_class: 'size-item my-1',
                        input_html: {class: 'category-selector'}%>
            <%= f.input :category,
                        as: :radio_buttons,
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: 'category-wrapper',
                        item_wrapper_class: 'category-item my-1',
                        input_html: {class: 'category-selector'},
                        collection: [
                        [raw("<div class='category-icon'><i class='fas fa-user-tie'></i> Business</div>"), "business"],
                        [raw("<div class='category-icon'><i class='fas fa-champagne-glasses'></i> Party</div>"), "party"],
                        [raw("<div class='category-icon'><i class='fas fa-sun'></i>Holiday</div> "), "holiday"],
                        [raw("<div class='category-icon'><i class='fas fa-ring'></i> Wedding</div>"), "wedding"],
                        [raw("<div class='category-icon'><i class='fas fa-shirt'></i> Casual</div>"), "casual"],
                        [raw("<div class='category-icon'><i class='fas fa-otter'></i> Other</div>"), "other"]
                        ] %>
            <%= f.input :price,
                        label: "Price<strong>(per day $)</strong>".html_safe,
                        input_html: { min: 0 } %>
            <%= f.input :overview,
                        label: "Overview(minimum 10 characters)",
                        placeholder: 'Describe your item' %>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Create!", class:'btn btn-info btn-block mt-2' %>
          <% end %>
          <%= link_to "Go Back", root_path, class:'btn btn-outline-info btn-block mt-2 go-back-btn' %>
        </div>
      </div>
    </div>
  </div>
</div>
