<div class="landing w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(<%= asset_path('landing_page4.jpg') %>);">
  <%= render "shared/navbar" %>
  <div id="typed-text">
    <script>
      typed = new Typed('#typed-text', {
        strings: [
          "<h1><span class='un'>UN</span> LOAD</h1>",
          "<h1><span class='un'>UN</span> LOAD</h1>",
          "<h1><span class='un'>UN</span> LEASH</h1>",
          "<h1><span class='un'>UN</span> VEIL</h1>"
        ],
        typeSpeed: 200,
        backSpeed: 50,
        startDelay: 300,
        loop: true,
        showCursor: false,
        contentType: 'html'
      });
    </script>
  </div>
  <%# <%= link_to 'Rent Now', apparels_path, class: 'btn btn-info mt-3' %>
</div>
</div>
<div class="container">
  <h1 class="text-center mt-3 lg-title"> NEW ITEMS </h1>
  <div class="cards">
    <div class="container">
      <div class="row">
        <% @apparels.each do |apparel| %>
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <%= cl_image_tag apparel.photo.key, class: 'img' if apparel.photo.key? %>
              </div>
              <div class="card-btns">
                <button type="button" class="btn-cart text-black"> add to cart +
                </button>
                <button type="button" class="btn-rent"><%= link_to "rent now 🛒", apparel_path(apparel), class: 'text-decoration-none text-black' %></button>
              </div>
              <div class="card-info">
                <h2 class="sm-title"><%= apparel.category %></h2>
                <div class="rating my-3">
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="far fa-star"></i></span>
                </div>
                <p class="card-name"><%= apparel.name %></p>
                <p class="card-price"><strong>Rent from: </strong>$<%=  sprintf('%.2f', (apparel.price * 0.9)) %></p>
                <p class="card-was"><strong>Was:</strong>$<%= sprintf('%.2f', (apparel.price)) %></p>
                <p class="card-rrp"><strong>RRP:</strong> $<%= apparel.price * 5 %></p>
              </div>
              <div class="off-info">
                <h2 class="sm-title">10% off</h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
