<div class="landing w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('landing_page1.jpg') %>);">
  <%= render "shared/navbar" %>
  <div id="typed-text">
    <script>
      typed = new Typed('#typed-text', {
        strings: [
          "<h1><span class='un'>UN</span> LOAD</h1>",
          "<h1><span class='un'>UN</span> LOAD</h1>",
          "<h1><span class='un'>UN</span> LEASH</h1>",
          "<h1><span class='un'>UN</span> VEIL</h1>"
        ],
        typeSpeed: 200,
        backSpeed: 50,
        startDelay: 300,
        loop: true,
        showCursor: false,
        contentType: 'html'
      });
    </script>
  </div>
</div>
<div class="container my-5 p">
  <div class="row ms-3">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <%= cl_image_tag @apparel.photo.key, class: 'img img-fluid custom-img' if @apparel.photo.key? %>
    </div>
    <div class="col-md-6">
      <div class="card rent-card" style="width: 400px">
        <div data-controller="rental-price" class="card-body w">
          <h4 class="card-title"><%= @apparel.name.upcase %></h4>
          <p class="card-text"><strong>Size:</strong> <%= @apparel.size.upcase %></p>
          <p class="card-text"><strong>Category:</strong> <%= @apparel.category.upcase %></p>
          <p class="card-text"><strong>Overview: </strong><%= @apparel.overview.split.map(&:capitalize).join(' ') %></p>
          <p class="card-rrp"><strong>RRP:</strong> $<%= @apparel.price * 5 %></p>
          <p class="card-was"><strong>Was:</strong>$<%= sprintf('%.2f', (@apparel.price)) %></p>
          <p class="card-text"><strong>Price:</strong> $<%= sprintf('%.2f', (@apparel.price * 0.9)) %></p>
          <p class="card-text"><strong>Total:</strong> $<span data-rental-price-target='price' data-price="<%= @apparel.price%>">0</span></p>
          <%= render "rentals/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
