<div class="col-md-3">
  <div class="card">
    <div class="card-img">
      <%= cl_image_tag apparel.photo.key, class: 'img' if apparel.photo.key? %>
    </div>
    <div class="card-btns">
      <button type="button" class="btn-cart text-black"> share
      </button>
    </div>
    <div class="card-info">
      <h2 class="sm-title"><%= apparel.category %></h2>
      <div class="rating my-3">
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      </div>
      <p class="card-name"><%= apparel.name %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="text-center">
          <p class="card-rrp">$<%= sprintf('%.2f', (apparel.price)) %></p>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-info"><%= link_to "Delete", apparel_path(apparel), class: 'text-decoration-none text-black', data: { turbo_method: :delete, turbo_confirm: "Delete #{apparel.name.split.map(&:capitalize).join(' ')}?" } %></button>
        </div>
      </div>
    </div>
  </div>
</div>
