<div class="col-md-3">
  <div class="card">
    <div class="card-img">
      <%= cl_image_tag apparel.photo.key, class: 'img' if apparel.photo.key? %>
    </div>
    <div class="card-btns">
      <button type="button" class="btn-cart text-black"> add to cart +
      </button>
      <button type="button" class="btn-rent"><%= link_to "rent now 🛒", apparel_path(apparel), class: 'text-decoration-none text-black' %></button>
    </div>
    <div class="card-info">
      <h2 class="sm-title"><%= apparel.category %></h2>
      <div class="rating my-3">
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      </div>
      <p class="card-name"><%= apparel.name %></p>
      <p class="card-price">$<%= sprintf('%.2f', (apparel.price)) %></p>
    </div>
  </div>
</div>
